<div class='form-header'>
  <h1 class='title'>Edit an announcement</h1>
  <div class='body'>
    <p>Announcements provide a means of communicating important events to visitors to the site. Before creating an announcement, please consider whether it might make more sense to simply post in the <%= link_to 'Facebook', 'https://www.facebook.com/groups/516871465136612', target: '_blank' %> group.</p>
  </div>
</div>

<%= render 'form' %>
