<h1>Login</h1>

<% if params[:noauth] == '1' %>
  <p class='error-msg'>You must be logged in to perform that action.</p>
<% end %>

<%= form_tag '/login' do %>

  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag 'Login' %>

<% end %>
