<div class='form-header'>
  <h1 class='title'>Submit a new work</h1>
  <div class='body'>
    <p>Looking for feedback on something you've written at a meeting? Maybe you just want to share a short excerpt from your upcoming novel. Whatever it is, write it up here, add some tags so others can find it, and hopefully you'll get some compliments, or constructive criticism!</p>
  </div>
</div>

<%= render 'form' %>
