<div class='form-header'>
  <h1 class='title'>Edit profile</h1>
  <div class='body'>
    <p>You can use this form to update your account information. Note that some fields are not accessible, and as such cannot be edited.</p>
  </div>
</div>

<%= render 'form' %>
