<div class='form-header'>
  <h1 class='title'>Sign up</h1>
  <div class='body'>
    <p>In order to submit your work to <span class='underlined'><%= UntitledCWC::Application::WEBSITE_NAME_NO_PUNC %></span>, you'll have to be a member of the University of Ottawa Creative Writing Club.</p>
    <p>You can visit our <span class='about'><%= link_to 'about', about_path %></span> page to learn more about participating, or sign up with your @uOttawa.ca email below.</p>
  </div>
</div>

<%= render 'form' %>
