<div class='form-header'>
  <h1 class='title'>Submit a new novel</h1>
  <div class='body'>
    <p>Have a collection of stories you'd like some feedback? Create a new novel and add your works as chapters, and your readers will see links to the previous and next chapters any time they open one of your works! Add some tags and your novel will even show up in the search results, so others can find it!</p>
  </div>
</div>

<%= render 'form' %>
