<div class='form-header'>
  <h1 class='title'>Edit an about section</h1>
  <div class='body'>
    <p>You can edit an about section using this form. Currently, the section you are editing is titled <%= @about.title %>.</p>
  </div>
</div>

<%= render 'form' %>
