// Sizing
$search-box-width-std:300px;
$search-box-width-mobile:200px;
$header-margin:18px;
$header-height:60px;
$hint-margin:4px;

// Sidebar
$sidebar-width:350px;
$content-padding:10px;

// Theme colors
$primary-color:#99ff99;
$primary-color-dark:#59df59;
$secondary-color:#206a11;
$like-color:#e60000;

$alternate-color-1:#ebffeb;
$alternate-color-2:#ddffdd;

// Animation timing
$default-anim-time:.5s;
