// Sizing
$search-box-width-std:300px;
$search-box-width-mobile:200px;
$header-margin:18px;
$header-height:60px;
$hint-margin:4px;

// Sidebar
$sidebar-width:350px;
$content-padding:10px;

// Theme colors
$primary-color:#99ff99;
$primary-color-dark:#59df59;

// Animation timing
$default-anim-time:.5s;
