@import 'variables';

#announcements {
  height: 100%;
  a, a:hover, a:visited { color: $secondary-color; }
}

#all-announcements { text-align: center; }
#new-announcement {
  a, a:hover, a:visited {
    text-decoration: none;
  }
}
