@import 'variables';

#announcements-container-mobile {
  min-height: 100vh;
  margin-bottom: -($header-height + $sub-header-height);
}

#announcements-mobile {
  margin-bottom: -$header-height;
}

#announcements, #announcements-mobile {

  a, a:hover, a:visited { color: $secondary-color; }
}

#all-announcements { text-align: center; }
#new-announcement {
  a, a:hover, a:visited {
    text-decoration: none;
  }
}
