@import 'variables';
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Norican|Raleway|Montserrat|Droid+Sans:400,700);

* { font-family: 'Droid Sans', sans-serif; }
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  span {
    font-family: 'Montserrat', sans-serif;
  }
  &.title {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  padding-top: $header-height;
}

ul {
  list-style: none;
}

hr {
  border-color: #eee;
  background-color: #eee;
}

.underlined { text-decoration: underline; }
.centered { text-align: center; }
.plain-link {
  a, a:hover, a:visited { text-decoration: none; }
}

.centered-content {
  width: 75%;
  max-width: 50em;
  margin: 0 auto 0 auto;
}

.wrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

.btn-theme {
  color: #000;
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-theme:focus, .btn-theme:active { outline: none; }
.btn-theme:active, .btn-theme.active, .open .dropdown-toggle.btn-theme { background-image: none; }

.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: $primary-color-dark;
  border-color: $primary-color-dark;
}

// Error handling

#flash-error, #flash-success, #flash-alert, #flash-notice {
  position: fixed;
  top: $header-height + 10px;
  left: 50%;
  margin-left: -$sidebar-width / 2;
  transform: translateX(-50%);
}

// About

#about {
  p.body {
    margin-top: 10px;
    text-align: justify;
    font-size: 12pt;
  }

  .admin {
    p.body {
      margin-top: 0;
    }

    a, a:hover, a:visited {
      font-family: inherit;
      text-decoration: none;
      color: $primary-color-dark;
    }
  }
}

// Search results

#search-results {
  h2.title { text-align: center; }
  h3.title a, h3.title a:hover, h3.title a:visited { color: $primary-color-dark !important; }
  p {
    margin: 0;
    padding-bottom: 10px;
    &.excerpt {
      color: #999;
      font-size: 10pt;
    }
  }
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    &.thick {
      border: none;
      height: 1px;
      color: #999;
      background-color: #999;
    }
  }

  .pagination {
    margin-top: 5px;
    margin-bottom: 2px;
  }
}

// Index banner

.index {
  #banner {
    width: 100%;
    height: 350px;
    background-color: $primary-color;
    position: relative;

    .banner-inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .about-link {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      a, a:hover, a:visited {
        color: #000;
        font-style: italic;
        font-family: 'Raleway', sans-serif;
      }
    }

    h1 {
      vertical-align: middle;
      text-align: center;
      text-decoration: underline;
      font-family: 'Raleway', sans-serif;
      font-size: 72pt;
      color: #000;
    }

    h2 {
      padding-top: 16px;
      text-align: center;
      font-style: italic;
      font-family: 'Norican', cursive;
      font-size: 26pt;
      color: #000;
    }
  }

  #recent-works {
    h2.title { text-align: center; }
    h3.title a, h3.title a:hover, h3.title a:visited {
      color: $primary-color-dark !important;
    }
    p.excerpt {
      color: #999;
      font-size: 10pt;
    }
  }
}

// Sidebar

#main {
}

#sidebar {
  width: $sidebar-width;
  height: 100%;
  right: 0;
  top: $header-height;
  position: fixed;
  border-left: 2px solid #eee;
  padding: 0 10px $header-height 10px;

  h3.title {
    text-align: center;
    text-decoration: underline;
  }

  #sidebar-inner {
    width: 100%;
    height: 100%;
    position: relative;

    h4.title {
      text-align: center;
      padding-top: 0;
    }
  }

  #sidebar-links {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    background-color: #fff;

    hr {
      margin-bottom: 10px;
      background-color: #ccc;
      border-color: #ccc;
    }

    a.sidebar-link, a.sidebar-link:hover, a.sidebar-link:visited {
      padding-right: 10px;
      color: #999;
    }
  }
}

#content {
  padding-right: $sidebar-width;
  top: $header-height;
  background: #fff;
}

// Form

.remove-bottom-margin { margin-bottom: 0 !important; }

.counter {
  size: 10pt;
  color: #808080;
}

.counter-error { color: #aa4442 !important; }
.has-error .control-label { color: inherit; }

p.form-hint {
  padding-top: 8px;
  color: #808080;
}

input[type='checkbox'] { display: none; }
.checkbox label { padding-left: 0; }

.checkbox-label {
  padding-left: 8px;
  font-size: 12pt;
}

.checkbox label svg {
  fill: $primary-color-dark;
  vertical-align: middle;
}

.input-label {
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  padding: 0;
  margin: 0 0 .25em 0;
}

.flat-input {
  max-width: 100%;
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
  background: #e6e6e6;
  color: #000;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.flat-input:focus {
  outline: none;
  background: $primary-color;
}

input.flat-input:focus::-webkit-input-placeholder { color:#5a5a5a; }
input.flat-input:focus::-moz-placeholder  { color:#5a5a5a; }
input.flat-input:focus:-moz-placeholder  { color:#5a5a5a; }
input.flat-input:focus::-ms-input-placeholder { color:#5a5a5a; }

textarea.flat-input:focus::-webkit-input-placeholder { color:#5a5a5a; }
textarea.flat-input:focus::-moz-placeholder  { color:#5a5a5a; }
textarea.flat-input:focus:-moz-placeholder  { color:#5a5a5a; }
textarea.flat-input:focus::-ms-input-placeholder { color:#5a5a5a; }

textarea.tall-area {
  height: 8em;
}

.form-header {
  width: 75%;
  max-width: 50em;
  margin: 0 auto 0 auto;

  .body {
    font-size: 12pt;
    padding: 0;
    margin: .5em 0 .5em 0;
  }
}

.form {
  width: 75%;
  max-width: 50em;
  padding: .5em 0 .5em 0;
  margin: 0 auto 0 auto;

  input.disabled {
    color: #999;
  }
}

.form-group {
  margin-bottom: 1em;
}

.with-hint {
  margin-bottom: 0;
}

.form-submit {
  text-align: center;
  margin: 2em auto 0 auto;
  padding: 0 0 2em 0;
}

// Header

header {
  z-index: 1000;
  width: 100%;
  height: $header-height;
  background-color: #1a1a1a;
  position: fixed;
  top: 0;
  left: 0;
  svg {
    float: right;
    text-align: center;
    line-height: $header-height;
  }
  h1 { font-family: 'Raleway', sans-serif; }
  h2 {
    font-size: 16pt;
    float: right;
    line-height: $header-height;
    margin-right: 18px;
    a, a:visited {
      color: #fff;
      text-decoration: none;
    }
    a:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }
}

.svg-header { fill: #fff; }
.svg-header:hover { fill: $primary-color; }
.svg-small {
  width: 24px + $header-margin;
  height: 40px;
  padding: 8px $header-margin 8px 0;
  margin: 10px 0 10px 0;
}

.nav-hint {
  margin: $hint-margin $hint-margin 0;
  display: none;
  color: #000;
}
.nav-hint-visible { display: block; }

.hint-wrapper {
  z-index: 1000;
  position: absolute;
  right: 0;
  top: $header-height;
}

.login {
  float: right;
  margin: 10px $header-margin 0 0;
}

.btn-login-caret { height: 40px; }

.btn-login {
  height: 40px;
  padding-top: 9px;
  vertical-align: middle;
}

.logo {
  padding: 8px 0 1px 0px;
  margin: 0 0 0 $header-margin;
  float: left;
  display: inline-block;
  border-bottom: 2px solid #fff;

  a, a:hover, a:visited {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-decoration: none;
  }
}

// Header search box

#search-slider {
  position: relative;
  float: right;
  left: 127px;

  -webkit-transition: left $default-anim-time ease;
  -moz-transition: left $default-anim-time ease;
  -ms-transition: left $default-anim-time ease;
  -o-transition: left $default-anim-time ease;
  transition: left $default-anim-time ease;
}

#search-static {
  position: relative;
  float: right;
}

.search-wrapper {
  width: $search-box-width-std;
  height: 40px;
  margin: 10px $header-margin 10px 0;
  float: right;
}

.search-container {
  width: $search-box-width-std;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.search-container input#search-box {
  width: $search-box-width-std;
  height: 40px;
  background: #2b303b;
  outline: none;
  border: none;
  float: left;
  color: #1a1a1a;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.search-container-transition input#search-box {
  -webkit-transition: background $default-anim-time ease;
  -moz-transition: background $default-anim-time ease;
  -ms-transition: background $default-anim-time ease;
  -o-transition: background $default-anim-time ease;
  transition: background $default-anim-time ease;
}

.search-container input#search-box::webkit-input-placeholder { color: #65737e; }
.search-container input#search-box::moz-placeholder { color: #65737e; }
.search-container input#search-box:moz-placeholder { color: #65737e; }
.search-container input#search-box::ms-input-placeholder { color: #65737e; }

.search-container .icon {
  position: absolute;
  top: 50%;
  margin-left: 15px;
  margin-top: 10px;
  z-index: 1;
  color: #4f5b66;
}

.search-container input#search-box:hover, .search-container input#search-box:focus {
  background: #fff;
}

#btn-search {
  width: 40px;
  height: 40px;
  z-index: 2;
  position: absolute;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .form, .form-header { width: 90%; max-width: 720px; }
}
