@import 'variables';
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Quicksand|Montserrat|Droid+Sans:400,700);

* { font-family: 'Droid Sans', sans-serif; }
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  span {
    font-family: 'Montserrat', sans-serif;
  }
  &.title {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  padding-top: $header-height + $sub-header-height;
}

#body-mobile {
  padding-top: $header-height;
}

ul {
  list-style: none;
}

hr {
  border-color: #eee;
  background-color: #eee;
}

.italicized { font-style: italic; }
.underlined { text-decoration: underline; }
.centered { text-align: center; }
.plain-link {
  a, a:hover, a:visited { text-decoration: none; }
}

.centered-content {
  width: 75%;
  max-width: 50em;
  margin: 0 auto 0 auto;
}

.centered-content-mobile {
  width: 90%;
  margin: 0 auto 0 auto;
}

.wrap {
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

.btn-theme, .label-theme {
  color: #000;
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-theme:focus, .btn-theme:active { outline: none; }
.btn-theme:active, .btn-theme.active, .open .dropdown-toggle.btn-theme { background-image: none; }

.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: $primary-color-dark;
  border-color: $primary-color-dark;
}

.format-btns {
  padding-bottom: 10px;
}

// Error handling

#flash-error, #flash-success, #flash-alert, #flash-notice {
  position: fixed;
  top: $header-height + $sub-header-height + 10px;
  left: 50%;
  margin-left: -$sidebar-width / 2;
  transform: translateX(-50%);
}

#flash-error-mobile, #flash-success-mobile, #flash-alert-mobile, #flash-notice-mobile {
  position: fixed;
  top: $header-height + 10px;
  left: 50%;
  transform: translateX(-50%);
}

// Dropdown

.dropdown-content {
  display: none;
  position: absolute;
  top: $header-height;
  right: 0;
  background-color: $header-background-light;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  a {
    color: $primary-color;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}

.show {display:block;}

// About

#about {
  p.body {
    margin-top: 10px;
    text-align: justify;
    font-size: 12pt;
  }

  .admin {
    p.body {
      margin-top: 0;
    }
    a, a:hover, a:visited {
      font-family: inherit;
      text-decoration: none;
      color: $primary-color-dark;
    }
  }
}

// Admin options

label #options-enabled-checked { display: none; }
input[type='checkbox']:checked ~ label #options-enabled-checked { display: inline-block; }
input[type='checkbox']:checked ~ label #options-enabled-unchecked { display: none; }

.admin-privileges-list {
  list-style-type: circle;
}

// Search results

#search-results-mobile {
  min-height: 100vh;
  margin-bottom: -$header-height;

  clear: left;
  padding-top: 10px;

  #user-results {
    margin-bottom: $header-height;
  }
}

#search-results, #search-results-mobile {
  padding-bottom: 20px;
  h2.title { text-align: center; }
  h3.title a, h3.title a:hover, h3.title a:visited { color: $primary-color-dark !important; }
  p {
    margin: 0;
    padding-bottom: 10px;
  }
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    &.thick {
      border: none;
      height: 1px;
      color: #999;
      background-color: #999;
    }
  }
  .excerpt p {
    color: $excerpt-text-color;
    font-size: 10pt;
  }

  .pagination {
    margin-top: 5px;
    margin-bottom: 2px;
  }

  #user-results {
    .user {
      padding-bottom: 5px;
      p {
        padding-bottom: 5px;
      }
    }
  }
}

// Index banner

.index {
  #banner, #banner-mobile {
    width: 100%;
    background-image: url(asset-path('index-banner.jpeg'));
    background-position: center;
    background-size: cover;
    position: relative;

    .banner-inner {
      background-color: rgba(255, 255, 255, 0.4);
      padding: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .about-link {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      a, a:hover, a:visited {
        color: #fff;
        font-style: italic;
        font-family: 'Quicksand', sans-serif;
      }
    }

    h2 {
      padding-top: 16px;
      text-align: center;
      font-style: italic;
      font-family: 'Dancing Script', cursive;
      font-size: 26pt;
      color: #000;
    }
  }

  #banner {
    height: 350px;
    h1 {
      vertical-align: middle;
      text-align: center;
      font-family: 'Quicksand', sans-serif;
      font-size: 30pt;
      color: #000;
    }
  }

  #banner-mobile {
    height: 40vh;
    h1 {
      vertical-align: middle;
      text-align: center;
      font-family: 'Quicksand', sans-serif;
      font-size: 24pt;
      color: #000;
    }
  }

  #recent-works {
	padding-bottom:20px;
    h2.title { text-align: center; }
    h3.title a, h3.title a:hover, h3.title a:visited {
      color: $primary-color-dark !important;
    }
    .excerpt p {
      color: $excerpt-text-color;
      font-size: 10pt;
    }
  }
}

// Sidebar

#sidebar {
  width: $sidebar-width;
  height: 100%;
  right: 0;
  top: $header-height + $sub-header-height;
  position: fixed;
  border-left: 2px solid #eee;
  padding: 0 10px ($header-height + $sub-header-height) 10px;

  h3.title {
    text-align: center;
    text-decoration: underline;
  }

  #sidebar-inner {
    width: 100%;
    height: 100%;
    position: relative;

    h4.title {
      text-align: center;
      padding-top: 0;
    }
  }

  #sidebar-links {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    background-color: #fff;

    hr {
      margin-bottom: 10px;
      background-color: #ccc;
      border-color: #ccc;
    }

    a.sidebar-link, a.sidebar-link:hover, a.sidebar-link:visited {
      padding-right: 10px;
      color: #999;
    }
  }
}

#content-mobile {
  top: $mobile-header-height;
  background: #fff;
}

#content {
  padding-right: $sidebar-width;
  top: $header-height + $sub-header-height;
  background: #fff;
}

#content-error {
  top: $header-height + $sub-header-height;
  background: #fff;
}

// Form

.remove-bottom-margin { margin-bottom: 0 !important; }

.counter {
  size: 10pt;
  color: #808080;
}

.counter-error { color: #aa4442 !important; }
.has-error .control-label { color: inherit; }

p.form-hint {
  padding-top: 8px;
  color: #808080;
}

input[type='checkbox'] { display: none; }
.checkbox label { padding-left: 0; }

.checkbox-label {
  padding-left: 8px;
  font-size: 12pt;
}

.checkbox label svg {
  fill: $primary-color-dark;
  vertical-align: middle;
}

.input-label {
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  padding: 0;
  margin: 0 0 .25em 0;
}

.flat-input {
  max-width: 100%;
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
  background: #e6e6e6;
  color: #000;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.flat-input:focus {
  outline: none;
  background: $primary-color;
}

input.flat-input:focus::-webkit-input-placeholder { color:#5a5a5a; }
input.flat-input:focus::-moz-placeholder  { color:#5a5a5a; }
input.flat-input:focus:-moz-placeholder  { color:#5a5a5a; }
input.flat-input:focus::-ms-input-placeholder { color:#5a5a5a; }

textarea.flat-input:focus::-webkit-input-placeholder { color:#5a5a5a; }
textarea.flat-input:focus::-moz-placeholder  { color:#5a5a5a; }
textarea.flat-input:focus:-moz-placeholder  { color:#5a5a5a; }
textarea.flat-input:focus::-ms-input-placeholder { color:#5a5a5a; }

textarea.tall-area {
  height: 8em;
}

.form-header {
  width: 75%;
  max-width: 50em;
  margin: 0 auto 0 auto;

  .body {
    font-size: 12pt;
    padding: 0;
    margin: .5em 0 .5em 0;
  }
}

.form {
  width: 75%;
  max-width: 50em;
  padding: .5em 0 .5em 0;
  margin: 0 auto 0 auto;

  input.disabled {
    color: #999;
  }
}

.form-group {
  margin-bottom: 1em;
}

.with-hint {
  margin-bottom: 0;
}

.form-submit {
  text-align: center;
  margin: 2em auto 0 auto;
  padding: 0 0 2em 0;
}

// Footer

#footer {
  border-top: solid 1px #bbb;
  background-color: #f2f2f2;

  #footer-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
  .footer-link {
    margin: 10px 20px 10px 20px;
    color: $primary-color-dark;
    text-align: center;
  }
  .svg-footer {
    display: block;
    fill: #000;
    height: 36px;
    width: 36px;
    margin: 10px auto 10px auto;
  }
  .svg-footer:hover {
    fill: $primary-color-dark;
  }
}

// Mobile Header

#mobile-header {
  z-index: 1000;
  width: 100%;
  height: $mobile-header-height;
  background-color: #1a1a1a;
  position: fixed;
  top: 0;
  left: 0;
  svg {
    line-height: $mobile-header-height;
  }

  .mobile-header-icon {
    width: 20%;
    margin-top: 15px;
    float: left;
    text-align: center;
  }

  .svg-small {
    height: $mobile-header-height - 30;
    width: $mobile-header-height - 30;
  }
}

// Header

#header {
  z-index: 1000;
  width: 100%;
  height: $header-height + $sub-header-height;
  background-color: $header-background;
  position: fixed;
  top: 0;
  left: 0;

  .label-as-badge {
    border-radius: 1em;
    float: left;
    z-index: 900;
    margin-left: -24px;
  }

  .logo > .icon {
    float: left;
    width: 24px + $header-margin;
    height: $sub-header-height;
    margin: 10px 0 0 0;
    fill: #fff;
  }

  .logo > .text {
    float: left;
    line-height: $header-height;
  }

  svg {
    float: left;
    text-align: center;
  }

  h1, span { font-family: 'Quicksand', sans-serif; }

  a, a:visited {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    color: $primary-color;
    text-decoration: none;
  }

  h2 {
    font-size: 16pt;
    float: left;
    line-height: $sub-header-height;
    margin-left: 44px;
    margin-right: 18px;
  }

  .svg-small {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 8px 18px 8px 0;
  }

  .logout {
    float: right;
    margin-right: 18px;
  }
}

#nav {
  clear: both;
  width: 100%;
  height: $sub-header-height;
  background-color: $header-background-dark;
}

.svg-header { fill: #fff; }
.svg-header:hover { fill: $primary-color; }

.nav-hint {
  margin: $hint-margin $hint-margin 0;
  display: none;
  color: #000;
}
.nav-hint-visible { display: block; }

.hint-wrapper {
  z-index: 1000;
  position: absolute;
  left: 0;
  top: $header-height + $sub-header-height;
}

.login {
  float: right;
  margin: 10px $header-margin 0 0;
}

.btn-login-caret { height: 40px; }

.btn-login {
  height: 40px;
  padding-top: 9px;
  vertical-align: middle;
}

// Header search box

#search {
  position: relative;
  float: right;
  margin-right: 10px;
}

#search-small {
  float: right;
  height: $header-height;
  display: none;

  .svg-search {
    height: 40px;
    width: 28px;
    margin: 10px 18px 10px 10px;
    fill: #fff;
  }

  .svg-search:hover { fill: $primary-color; }
}

.search-wrapper {
  width: $search-box-width-std;
  height: 40px;
  margin: 10px 0 10px 0;
  float: right;
}

.search-wrapper-mobile {
  width: 100%;
  height: 40px;
  padding: 10px;
  float: left;
}

.search-container {
  width: $search-box-width-std;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;

  input#search-box {
    width: $search-box-width-std;
    height: 40px;
    background: #2b303b;
    outline: none;
    border: none;
    float: left;
    color: $header-background;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .icon {
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: 15px;
    margin-top: 10px;
    z-index: 1;
    color: #4f5b66;
  }
  input#search-box:hover, input#search-box:focus {
    background: #fff;
  }
}

.search-container-mobile {
  width: 100%;
  white-space: nowrap;
  position: relative;

  input#search-box {
    width: 100%;
    height: 40px;
    background: #2b303b;
    outline: none;
    border: none;
    float: left;
    color: $header-background;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .icon {
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: 15px;
    margin-top: 10px;
    z-index: 1;
    color: #4f5b66;
  }
  input#search-box:hover, input#search-box:focus {
    background: #fff;
    border: solid 1px #ccc;
  }
}

.search-container input#search-box::webkit-input-placeholder { color: #65737e; }
.search-container input#search-box::moz-placeholder { color: #65737e; }
.search-container input#search-box:moz-placeholder { color: #65737e; }
.search-container input#search-box::ms-input-placeholder { color: #65737e; }
.search-container-mobile input#search-box::webkit-input-placeholder { color: #65737e; }
.search-container-mobile input#search-box::moz-placeholder { color: #65737e; }
.search-container-mobile input#search-box:moz-placeholder { color: #65737e; }
.search-container-mobile input#search-box::ms-input-placeholder { color: #65737e; }

#btn-search {
  width: 40px;
  height: 40px;
  z-index: 2;
  position: absolute;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .form, .form-header { width: 90%; max-width: 720px; }
  .logo-hideable { display: none; }
}

@media screen and (max-width: 580px) {
  #search { display: none; }
  #search-small { display: block; }
  .logo-hideable { display: inline; }
  #content { padding-right: $sidebar-width-small; }
  #sidebar { width: $sidebar-width-small; }

}

@media screen and (max-width: 460px) {
  .logo-hideable { display: none; }
}
