@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic|Raleway:400,700);

// Sizing
$search-box-width-std:300px;
$search-box-width-mobile:200px;
$header-margin:18px;
$header-height:60px;
$hint-margin:4px;

// Theme colors
$primary-color:#99ff99;
$primary-color-dark:#59df59;

// Animation timing
$search-anim-time-bg:.5s;
$search-anim-time-pos:.5s;

* { font-family: 'Open Sans', sans-serif; }
h1 { font-family: 'Raleway', sans-serif; }

body {
  background-color: #fff;
  padding-top: $header-height;
}

ul {
  list-style: none;
}

.underlined {
  text-decoration: underline;
}

// Form

.input-label {
  font-family: 'Raleway', sans-serif;
  font-size: 14pt;
  font-weight: bold;
  padding: 0;
  margin: 0 0 .25em 0;
}

.flat-input {
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
  background: #e6e6e6;
  color: #000;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.flat-input:focus {
  outline: none;
  background: $primary-color;
}

input.flat-input:focus::-webkit-input-placeholder { color:#5a5a5a; }
input.flat-input:focus::-moz-placeholder  { color:#5a5a5a; }
input.flat-input:focus:-moz-placeholder  { color:#5a5a5a; }
input.flat-input:focus::-ms-input-placeholder { color:#5a5a5a; }

textarea.tall-area {
  height: 8em;
}

.form-header {
  width: 75%;
  max-width: 600px;
  margin: 0 auto 0 auto;

  .title {
    padding: 0;
    margin: .5em 0 .5em 0;
  }

  .body {
    padding: 0;
    margin: .5em 0 .5em 0;
  }
}

.form {
  width: 75%;
  max-width: 600px;
  padding: 0;
  margin: .5em auto .5em auto;
}

.form-group {
  margin-bottom: 1em;
}

.form-submit {
  text-align: center;
  margin: 2em auto 2em auto;
}

// Header

header {
  width: 100%;
  height: $header-height;
  background-color: #1a1a1a;
  position: fixed;
  top: 0;
  left: 0;
  svg {
    float: right;
    text-align: center;
    line-height: $header-height;
  }
}

.svg-header { fill: #fff; }
.svg-header:hover { fill: $primary-color; }
.svg-large {
  width: 40px + $header-margin;
  height: 40px;
  margin: 10px 0 10px 0;
  padding: 0 $header-margin 0 0;
}
.svg-small {
  width: 24px + $header-margin;
  height: 40px;
  padding: 8px $header-margin 8px 0;
  margin: 10px 0 10px 0;
}

#profile-hint { margin: $hint-margin $hint-margin 0; }
#inbox-hint { margin: $hint-margin $hint-margin 0; }
#work-hint { margin: $hint-margin $hint-margin 0; }
#fave-hint { margin: $hint-margin $hint-margin 0; }
#new-hint { margin: $hint-margin $hint-margin 0; }

.nav-hint {
  display: none;
  color: #000;
}
.nav-hint-visible { display: block; }

.hint-wrapper {
  float: right;
  position: absolute;
  right: 0;
  top: $header-height;
}

.login {
  float: right;
  margin: 10px $header-margin 0 0;
}

.btn-login-caret { height: 40px; }

.btn-login {
  height: 40px;
  padding-top: 9px;
  vertical-align: middle;
}

.btn-theme {
  color: #000;
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-theme:focus, .btn-theme:active { outline: none; }
.btn-theme:active, .btn-theme.active, .open .dropdown-toggle.btn-theme { background-image: none; }

.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: $primary-color-dark;
  border-color: $primary-color-dark;
}

.logo {
  padding: 8px 0 1px 0px;
  margin: 0 0 0 $header-margin;
  float: left;
  display: inline-block;
  border-bottom: 2px solid #fff;

  a, a:hover, a:visited {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-decoration: none;
  }
}

// Header search box

#search-slider {
  position: relative;
  float: right;
  left: 168px;

  -webkit-transition: left $search-anim-time-pos ease;
  -moz-transition: left $search-anim-time-pos ease;
  -ms-transition: left $search-anim-time-pos ease;
  -o-transition: left $search-anim-time-pos ease;
  transition: left $search-anim-time-pos ease;
}

#search-static {
  position: relative;
  float: right;
}

.search-wrapper {
  width: $search-box-width-std;
  height: 40px;
  margin: 10px $header-margin 10px 0;
  float: right;
}

.search-container {
  width: $search-box-width-std;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.search-container input#search-box {
  width: $search-box-width-std;
  height: 40px;
  background: #2b303b;
  outline: none;
  border: none;
  float: left;
  color: #1a1a1a;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.search-container-transition input#search-box {
  -webkit-transition: background $search-anim-time-bg ease;
  -moz-transition: background $search-anim-time-bg ease;
  -ms-transition: background $search-anim-time-bg ease;
  -o-transition: background $search-anim-time-bg ease;
  transition: background $search-anim-time-bg ease;
}

.search-container input#search-box::webkit-input-placeholder { color: #65737e; }
.search-container input#search-box::moz-placeholder { color: #65737e; }
.search-container input#search-box:moz-placeholder { color: #65737e; }
.search-container input#search-box::ms-input-placeholder { color: #65737e; }

.search-container .icon {
  position: absolute;
  top: 50%;
  margin-left: 15px;
  margin-top: 10px;
  z-index: 1;
  color: #4f5b66;
}

.search-container input#search-box:hover, .search-container input#search-box:focus {
  background: #fff;
}

#btn-search {
  width: 40px;
  height: 40px;
  z-index: 2;
  position: absolute;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .form, .form-header { width: 90%; }
}
