
#comments .comment {
  margin: 1em 0 1em 0;

  p.author, p.body {
    text-align: justify;
    padding: 0;
    margin: .5em 0 .5em 0;
  }
  span.time {
    font-size: 10pt;
    color: #808080;
    padding: 0;
    margin: 0;
  }
}
