@import 'variables';

#sidebar {
  background-color: #fff;
}

#comments-wrapper {
  background-color: #f2f2f2;

  hr {
    background-color: #ccc;
    border-color: #ccc;
  }
}

#comments {
  width: 75%;
  max-width: 50em;
  margin: 0 auto 0 auto;

  .comment {
    span.time {
      font-size: 10pt;
      color: #808080;
      padding: 0;
      margin: 0;
    }
    p.author, p.body {
      padding: 0;
      margin: .5em 0 .5em 0;
    }
  }

  .form {
    width: 100%;
    max-width: 100%;
  }

  .form-header {
    width: 100%;
    max-width: 100%;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
