@import 'variables';

#notifications {
  h1.title { text-align: center; }
  .list-group {
    width: 100%;
    padding-top: 10px;
  }
  a {
    &.list-group-item {
      width: 100%;
      text-align: center;
      overflow: hidden;
      display: table;
    }
    &.list-group-item > div {
      display: table-cell;
      vertical-align: middle;
      float:none;
    }
  }
  td.notification-body {
    vertical-align: middle;
  }
  .table > tbody > tr > th {
    vertical-align: middle;
  }
}

.clickable-row {
  cursor: pointer !important;
}

.svg-notification {
  vertical-align: middle;
  height: 24px;
  width: 24px;
  fill: $primary-color-dark;
}
