@import 'variables';

.about {
  a, a:hover, a:visited {
    color: $primary-color-dark;
    text-decoration: underline;
  }
}

#favourites-mobile {
  min-height: 100vh;
  margin-bottom: -$header-height;

  #favourite-paginate {
    margin-bottom: $header-height;
  }
}

#favourites, #favourites-mobile {
  h3.title a, h3.title a:hover, h3.title a:visited {
    color: $primary-color-dark !important;
  }
  p.excerpt {
    color: $excerpt-text-color;
    font-size: 10pt;
  }
}

#user {
  p.about, p.likes {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    font-size: 12pt;
  }

  p#last-seen {
    text-align: center;
    font-size: 10pt;
    color: #808080;
  }

  h3.title a, h3.title a:hover, h3.title a:visited {
    color: $primary-color-dark !important;
  }
  .excerpt p {
    color: #777;
    font-size: 10pt;
  }

  hr.thick {
    border: none;
    height: 1px;
    color: #999;
    background-color: #999;
  }

  .left {
    width: 50%;
    float: left;
  }

  .right {
    width: 50%;
    float: right;
  }
}
