@import 'variables';
$work-tags-padding:($header-height + $sub-header-height) + 20px;

label #incomplete-checked { display: none; }
input[type='checkbox']:checked ~ label #incomplete-checked { display: inline-block; }
input[type='checkbox']:checked ~ label #incomplete-unchecked { display: none; }

label #is-private-checked { display: none; }
input[type='checkbox']:checked ~ label #is-private-checked { display: inline-block; }
input[type='checkbox']:checked ~ label #is-private-unchecked { display: none; }

#work {
  min-height: 100vh;
  margin-bottom: -($header-height + $sub-header-height);

  #work-title { text-align: center; }

  #work-author {
    font-size: 12pt;
    text-align: center;
  }

  #work-author a, #work-author a:hover, #work-author a:visited {
    text-decoration: none;
    color: $primary-color-dark;
  }

  #work-body {
	  padding-bottom: 20px;
  }

  .work-body {
    text-align: justify;
    font-size: 12pt;
  }

  #work-info { padding-top: 15px; }

  #work-tags, #work-incomplete, #work-updated, #work-faves, #work-fave, #work-is-private {
    font-size: 10pt;
    color: #808080;
  }

  #work-tags {
    clear: left;
    padding-bottom: $work-tags-padding;
  }
  #work-incomplete, #work-updated, #work-faves, #work-is-private {
    text-align: center;
    margin: 0;
    padding-top: 5px;
  }
  span#work-options, #work-options a, #work-options a:hover, #work-options a:visited { color: $secondary-color; }

  #work-fave, #work-not-fave {
    float: left;
    line-height: 24px;
    margin-left: 10px;
  }
  #work-fave { color: $like-color; }
  #btn-favourite {
    float: left;
    svg {
      fill: $like-color;
      width: 24px;
      height: 24px;
    }
  }
}

#history {
  background-color: #e5e5e5;
  padding: 20px;

  p.history-item {
    margin: 0;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

#goto-comments {
  right: 10px + $sidebar-width;
  bottom: 10px;
  position: fixed;
  opacity: 1;

  -webkit-transition: opacity $default-anim-time ease;
  -moz-transition: opacity $default-anim-time ease;
  -ms-transition: opacity $default-anim-time ease;
  -o-transition: opacity $default-anim-time ease;
  transition: opacity $default-anim-time ease;
}

#work-reading-progress {
  position: fixed;
  top: ($header-height + $sub-header-height);
  height: 4px;
  width: 0;
  background-color: $primary-color-dark;
  box-shadow: 0px 0px 5px $primary-color-dark;

  -webkit-transition: width $default-anim-time ease;
  -moz-transition: width $default-anim-time ease;
  -ms-transition: width $default-anim-time ease;
  -o-transition: width $default-anim-time ease;
  transition: width $default-anim-time ease;
}
