@import 'variables';

label #incomplete-checked { display: none; }
input[type='checkbox']:checked ~ label #incomplete-checked { display: inline-block; }
input[type='checkbox']:checked ~ label #incomplete-unchecked { display: none; }

#work {
  min-height: 100vh;
  margin-bottom: -$header-height;

  #work-title { text-align: center; }

  #work-author {
    font-size: 12pt;
    text-align: center;
  }

  #work-author a, #work-author a:hover, #work-author a:visited {
    text-decoration: none;
    color: $primary-color-dark;
  }

  #work-body {
    text-align: justify;
    font-size: 12pt;
  }

  #work-info { padding-top: 15px; }

  #work-tags, #work-incomplete, #work-updated, #work-faves, #work-fave {
    font-size: 10pt;
    color: #808080;
  }

  #work-tags {
    clear: left;
    padding-bottom: $header-height;
  }
  #work-incomplete, #work-updated, #work-faves {
    text-align: center;
    margin: 0;
    padding-top: 5px;
  }
  span#work-options, #work-options a, #work-options a:hover, #work-options a:visited { color: $secondary-color; }

  #work-fave {
    float: left;
    line-height: 24px;
    margin-left: 10px;
  }
  #btn-favourite {
    float: left;
    svg {
      fill: #ff0000;
      width: 24px;
      height: 24px;
    }
  }
}

#goto-comments {
  right: 10px + $sidebar-width;
  bottom: 10px;
  position: fixed;
  opacity: 1;

  -webkit-transition: opacity $default-anim-time ease;
  -moz-transition: opacity $default-anim-time ease;
  -ms-transition: opacity $default-anim-time ease;
  -o-transition: opacity $default-anim-time ease;
  transition: opacity $default-anim-time ease;
}
