<div class='centered-content<%= mobile_modifier %>'>

  <h1 class='title centered'>Administrator Controls</h1>
  <p>This page lists the various actions that administrators can perform, as well as providing an option to disable the admin options throughout the website (so you don't have to see ugly 'edit/delete' settings everywhere).</p>

  <h2 class='title centered'>Privileges</h2>
  <p>As an admin, you can perform the actions listed below. Details on these actions, including how to perform them, are provided below.</p>
  <ul class='admin-privileges-list'>
    <li>Create, edit, delete announcements</li>
    <li>Create, edit, delete sections of the about page</li>
    <li>Write a separate account profile for the about page</li>
    <li>Editing and deleting other users' works</li>
    <li>Editing and deleting other users' comments</li>
    <li>Editing and deleting other users' accounts</li>
  </ul>

  <h2 class='title centered'>Announcements</h2>
  <p>Announcements are used to provide information to all visitors of the website. The sidebar will always list the 10 most recent announcements, with the most recent being at the top.</p>
  <ul class='admin-privileges-list'>
    <li><strong>Creating an announcement:</strong> To create an announcement, click "New Announcement" in the sidebar. You must provide a title and a body for the announcement. You can also provide a link, which a visitor can access by clicking on the title, but a link is not required.</li>
    <br />
    <li><strong>Editing an announcement:</strong> To edit an announcement, find the announcement and click 'Edit' beneath the title of the announcement. The process is similar to creating an announcement.</li>
    <br />
    <li><strong>Deleting an announcement:</strong> To delete an announcement, find the announcement and click 'Delete' beneath the title of the announcement. You will be prompted to delete the announcement and by clicking 'OK' the announcement is permanently deleted.</li>
  </ul>

  <h2 class='title centered'>About Sections</h2>
  <p>The about page provides users with important information about the club, and various additional sections can be added as necessary. Sections will appear in the order they were modified, from the oldest to the newest.</p>
  <ul class='admin-privileges-list'>
    <li><strong>Creating an about section:</strong> To create an about section, go to the about page and click 'Add new section' just before the 'Meet the Executive' section. You must provide a section with a title and body, and you can also add a URL which will appear below the body of the section. Providing a title for the URL will cause the URL to appear as the given title.</li>
    <br />
    <li><strong>Editing an about section:</strong> To edit an about section, find the section and click 'Edit' beneath the title of the section. The process is similar to creating a section.</li>
    <br />
    <li><strong>Deleting an about section:</strong> To delete an about section, find the section and click 'Delete' beneath the title of the section. You will be prompted to delete the section and by clicking 'OK' the section is permanently deleted.</li>
  </ul>

  <h2 class='title centered'>About Profile</h2>
  <p>You can provide an alternative profile which will appear on the about section, beneath your account name. Your regular about section will appear on your profile and the about section profile if you do not provide an alternative profile. The alternative profile should describe your role as an executive member of the club, so visitors to the about page can learn about each of us and our roles.</p>
  <ul class='admin-privileges-list'>
    <li><strong>Creating an about profile:</strong> You can create an about profile by going to your profile page, selecting 'Edit' beneath your name and filling out the new section titled 'You're an admin! Tell us your role!'</li>
  </ul>

  <h2 class='title centered'>Works</h2>
  <ul class='admin-privileges-list'>
    <li><strong>Deleting works:</strong> You can delete other user's works if you feel its content is offensive, inappropriate, or not fitting of the website (i.e. spam?). To delete a work, find the offending work and press the 'Delete' button beneath the title of the work at the top of the page. You will be prompted and by pressing 'OK', you delete the work <span style='font-style: italic'>permanently</span>.</li>
    <br />
    <li><strong>Editing works:</strong> In addition to deleting works, you can edit a user's works. However, this should be used sparingly, if ever at all. It is much preferable to delete a user's offensive work than to force them to appear to support your opinions. To edit a work, find the offending work and press the 'Edit' button beneath the title of the work at the top of the page. You will be brought to a new page and you can edit the content of the work and save it. Note, however, that this edit will be <span style='font-style: italic'>permanent</span>.</li>
  </ul>

  <h2 class='title centered'>Novels</h2>
  <ul class='admin-privileges-list'>
    <li><strong>Deleting novels:</strong> Essentially the same as deleting a work, but the works which are a part of the novel will not be deleted.</li>
    <br />
    <li><strong>Editing novels:</strong> Again, very similar to editing works. Use your best judgement in both cases.</li>
  </ul>

  <h2 class='title centered'>Comments</h2>
  <ul class='admin-privileges-list'>
    <li><strong>Deleting comments:</strong> You can delete other user's comments if you feel its content is offensive, inappropriate, or not fitting of the website (i.e. spam?). To delete a comment, find the offending comment and press the 'Delete' button beneath the content of the comment. You will be prompted and by pressing 'OK', you delete the comment <span style='font-style: italic'>permanently</span>.</li>
    <br />
    <li><strong>Editing comments:</strong> In addition to deleting comments, you can edit a user's comments. However, this should be used sparingly, if ever at all. It is much preferable to delete a user's offensive comment than to force them to appear to support your opinions. To edit a comment, find the offending comment and press the 'Edit' button beneath the content of the comment. You will be brought to a new page and you can edit the content of the comment and save it. Note, however, that this edit will be <span style='font-style: italic'>permanent</span>.</li>
  </ul>

  <h2 class='title centered'>User Accounts</h2>
  <ul class='admin-privileges-list'>
    <li><strong>Deleting user accounts:</strong> You can delete another user's account if the user is being consistently harmful to other participants of the website. To delete a user's account, go to their account page and you should see an option to 'Delete' beneath their name at the top of the page. You will be prompted and by pressing 'OK', you delete the user's account and <strong>all of their works</strong> <span style='font-style: italic'>permanently</span>.</li>
    <br />
    <li><strong>Editing user accounts:</strong> In addition to deleting user accounts, you can edit a user's account. However, this should be used sparingly, if ever at all. It is much preferable to remove an offensive user from the website than to force them to appear to support your opinions. To edit a user's account, go to their account page and press the 'Edit' button beneath their name at the top of the page. You will be brought to a new page and you can edit the user's name, NaNoWriMo name, and about section of the user and save it. Note, however, that this edit will be <span style='font-style: italic'>permanent</span>.</li>
  </ul>

</div>

<div class='form-header'>
  <h2 class='title centered'>Enable admin options</h1>
</div>

<%= simple_form_for @options, :url => {:controller => "application", :action => "update_admin_options"}, html: { class: 'form' } do |f| %>

  <div class='checkbox'>
    <input type='hidden' value='false' name='admin_options[options_enabled]' />
    <input type='checkbox' value='true' name='admin_options[options_enabled]' id='admin_options_options_enabled' />
    <label for='admin_options_options_enabled'>
      <svg id='options-enabled-unchecked' width='24px' height='24px' viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <g transform="matrix(1.33333,0,0,1.33333,-4,-4)">
              <path d="M19,5L19,19L5,19L5,5L19,5M19,3L5,3C3.9,3 3,3.9 3,5L3,19C3,20.1 3.9,21 5,21L19,21C20.1,21 21,20.1 21,19L21,5C21,3.9 20.1,3 19,3Z" />
          </g>
      </svg>
      <svg id='options-enabled-checked' width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <g transform="matrix(1.33333,0,0,1.33333,-4,-4)">
              <path d="M19,3L5,3C3.89,3 3,3.9 3,5L3,19C3,20.1 3.89,21 5,21L19,21C20.11,21 21,20.1 21,19L21,5C21,3.9 20.11,3 19,3ZM10,17L5,12L6.41,10.59L10,14.17L17.59,6.58L19,8L10,17Z" />
          </g>
      </svg>
      <span class='checkbox-label'>Enable admin options?</span>
    </label>
    <p class='form-hint'>Uncheck this box and press save to disable the admin options to edit or delete items throughout the website. You can re these options at any time by checking this box again and saving.</p>
  </div>

  <div class='form-submit'>
    <%= f.submit 'Save', :class => 'btn btn-lg btn-theme' %>
  </div>

<% end %>
