<header id='header'>

  <!-- begin website title -->
  <h1 class='logo'><a href="#">Untitled</a></h1>
  <!-- end website title -->

  <!-- Check if user logged in - shows either login or profile picture -->
  <div class='header-login'>
    <span class='header-login-btn'>Login</span>
  </div>

  <!-- begin search box -->
  <div class="search-box">
    <div class="search-container">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="search" id="search" placeholder="Search..." />
    </div>
  </div>
  <!-- end search box -->

</header>
