<div id='sidebar-inner'>
  <h3 class='title'>Announcements</h3>
  <% if current_user && current_user.is_admin? %>
    <h4 class='title'><%= link_to 'New Announcement', new_announcement_path %></h4>
  <% end %>
  <div id='announcements'>
    <% if recent_announcements && recent_announcements.count > 0 %>
      <%= render :partial => recent_announcements %>
    <% end %>
  </div>
  <div id='sidebar-links'>
    <hr />
    <%= link_to 'Facebook', 'https://www.facebook.com/groups/516871465136612', target: '_blank', class: 'sidebar-link' %><%= link_to 'GitHub', 'https://github.com/joseph-roque/uo-cwc', target: '_blank', class: 'sidebar-link' %>
  </div>
</div>
