<div id='sidebar-inner'>
  <h3 class='title'>Announcements</h3>
  <div id='announcements'>
    <% recent_announcements.each do |announcement| %>
      <h4><%= announcement.title %></h4>
      <p><%= simple_format announcement.body %></p>
    <% end %>
  </div>
  <div id='sidebar-links'>
    <hr />
    <%= link_to 'Facebook', 'https://www.facebook.com/groups/516871465136612', target: '_blank', class: 'sidebar-link' %><%= link_to 'GitHub', 'https://github.com/joseph-roque/uo-cwc', target: '_blank', class: 'sidebar-link' %>
  </div>
</div>
